/* General styles */
:root {
    --background: #ffc600;
}

html {
    font-family: 'helvetica neue';
    background: var(--background);
    font-size: 63.5%; /* 1rem = 10px */
}

body {
    font-size: 2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
1. Position
2. Box Model
3. Typography
4. Visual
5. Other
*/

/* 1 */
/* 2 */
/* 3 */
/* 4 */
/* 5 */